<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="guest-form-card card">

      <div class="card-header text-center"
        style="background: rgb(31, 136, 21); color: white ;margin-top: 10px;color:white">
        <h2>Login Here</h2>
      </div>

      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="login(email.value,password.value)">
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control" [(ngModel)]="customerEmail"
              [ngClass]="{ 'is-invalid': email.touched && email.invalid }" name="email" #email="ngModel"
              [(ngModel)]="login2.email" required />
            <span class="invalid-feedback">Email Id can't be blank.</span>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control"
              [ngClass]="{ 'is-invalid': password.touched && password.invalid }" #password="ngModel"
              [(ngModel)]="login2.password" required />
            <span class="invalid-feedback">Password can't be blank.</span>
          </div><br>
          <form [formGroup]="aFormGroup">
            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
            </ngx-recaptcha2>
          </form>
          <div class="Button" style="text-align: center;">
            <button class="btn btn-success btn-block" [disabled]="aFormGroup.invalid"> Login</button>&nbsp;&nbsp;
            <button class="btn btn-success" routerLink='/Adigas'>Back</button><br>
          </div>
          Haven't registerd yet!<a href="/register">Signup</a>
        </form>
      </div>
    </div>
  </div>

</div>