<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let obj of foodArr">
      <div class="card" style="width: 75%;border:0px">

        <img src={{obj.imageUrl}} class="card-img-top" alt="no-image " width="00" height="200">
        <div class="card-body">
          <p class="card-text"><b>{{obj.foodName}} </b>- {{obj.foodCategory}}</p>
          <p class="card-text"> <b style="color:green"> {{obj.foodPrice | currency:'INR'}}</b></p>
          <p class="card-text"> {{obj.restuarant.restuarantName}}</p>
          <button *ngIf="isTokenPresent()==true" id={{obj.foodId}} [disabled]="isAdded(obj)" (click)="addToCart(obj)"
            class="btn btn-success btn-sm"> Add to cart
            <i class="fa fa-shopping-cart" style="font-size:20px ;color:white"></i></button>
          <button *ngIf="isTokenPresent()==false" id={{obj.foodId}} [disabled]="isAdded(obj)" routerLink="/login"
            class="btn btn-success btn-sm"> Add to cart
            <i class="fa fa-shopping-cart" style="font-size:20px ;color:white"></i></button>
        </div>
      </div>
    </div>
  </div>